<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hi <%=name%></h1>
    <form action="/add/<%=id%>" method="post"
        style="text-align: center; margin-top: 180px; box-sizing: border-box; height: 200px;">

        <label for="mobile_no">Order Date</label>
        <input type="date" style="padding: 5px; margin-right: 50px;" name="order_date" required><br>

        <label for="new_text">Company</label>
        <input type="text" style="padding: 5px; margin-left: 2px;" name="company" disabled value="<%=id%>"><br>

        <label for="confirm_text">Order Owner</label>
        <input type="text" style="padding: 5px; margin-right: 20px;" name="order_owner" disabled value="<%=name%>"><br>

        <label for="confirm_text">Item/Product</label>
        <input type="text" style="padding: 5px; margin-right: 20px;" name="item"><br>

        <label for="confirm_text">EA/Count</label>
        <input type="text" style="padding: 5px; margin-right: 2px;" name="count"><br>

        <label for="confirm_text">Weight</label>
        <input type="text" style="padding: 5px; margin-left: 17px;" name="weight"><br>

        <label for="confirm_text">Request</label>
        <input type="text" style="padding: 5px; margin-left: 12px;" name="request"><br>

        <button type="submit" style="padding: 10px; border-radius: 5px; margin: 30px;">SUBMIT</button>
    </form>


</body>

</html>

